.App {
  /* text-align: center; */
  background-color: #eee;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-body {
  /* outline: 1px solid red; */
  margin: 0 auto;
  padding-bottom: 20px;
  height: 320px;
  width: 420px;
}

.App-body div {
  /* outline: 1px solid red; */
}

.App-header {
  background-color: #222;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App h2 {
  margin: 0;
  display: inline-block;
  margin-top: 10px;
  vertical-align: top;
}

h4 {
  margin: 15px 10px 10px 10px;
}


