#color_details {
  width: 200px;
  display: inline-block;
  padding: 10px;
  background-color: #ddd;
}

input {
  /* margin: 5px; */
  display: block;
}

input[type=text] {
  width: 186px;
  font-size: 14px;
  padding: 5px;
  border: 2px solid #bbb;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color: #bbb;
}

input[type=submit] {
  font-size: 80%; 
  font-weight: bold;
  padding: 5px 15px;
  margin-top: 10px;
  background: rgb(70, 173, 246);
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  float: right;
}

input[type=submit]:disabled {
  background: #ccc;
}

form div {
  white-space: nowrap;
  font-size: 14px;
  margin-bottom: 10px;
}

label {
  margin-left: 5px;
}
