#color_diff_list {
  width: 300px;
  background-color: #ddd;
  padding: 10px;
  /* vertical flex */
  display: flex;
  flex-direction: column;
}

#color_diff_list div.wrapper {
  overflow: auto;
  flex: 1;
}

#color_diff_list div#preview_source {
  margin-top: 10px;
  height: 130px;
  background-color: white;
  border: 2px solid #bbb;
  font-size: 12px;
  color: #888;
  padding: 2px;
}

#color_diff_list div#preview_source img {
  border: 1px solid #bbb;
  margin: 0px 32px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#color_diff_list li {
  font-weight: bold;
  margin: 2px;
  margin-left: 0px;
  padding: 5px;
  border: 2px solid #bbb;
  border-radius: 5px;
  cursor: pointer;
  height: 66px;
}

li.match {
  background-color: #d8eefd;
  font-weight: bold;
}

.cdiff {
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
}

.cdiff span {
  font-weight: bold;
}

#color_diff_list img {
  border: 1px solid #bbb;
  float: right;
  width: 64px;
  height: 64px;
}