#color_details {
  width: 200px;
  display: inline-block;
  padding: 10px;
  background-color: #ddd;
}

#color_details #attribute {
  font-weight: bold;
}

.detail {
  margin-top: 10px;
}

.detail .attribute {
  font-weight: bold;
  margin-bottom: 5px;
}

.detail .source, .detail .match {
  padding: 2px;
  background-color: white;
  font-size: 14px;
  font-style: italic;
}
