#color_list {
  width: 200px;
  float: left;
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0px 5px;
  margin: 0px;
}

li {
  margin: 2px;
  padding: 5px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

li.selected {
  font-weight: bold;
  background-color: rgb(70, 173, 246);
}
